@import '../style.scss';

.friend-bar {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .friend-list {
        @include myscrollbar;
        flex-grow: 1;
        overflow-y: auto;
        .add-user-text {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: $m3;
            margin-right: $m3;
            color: $secondary-text-color;
        }
        .friend-list-loading-icon-container {
            position: relative;
            height: 50px;
            align-items: center;
        }
        .group-title {
            @include h4;
            margin-left: $m5;
            margin-top: $m5;
            color: $secondary-text-color;
            font-weight: 600;
        }
        .friend-card {
            display: flex;
            align-items: center;
            cursor: pointer;
            .profile-letter {
                @include profile-letter;
            }
        }
    }
}