@import '../style.scss';

.login-page {
    background-color: $main-background-color;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .body {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .form {
            background-color: white;
            box-shadow: 10px 15px 50px 2px $shadow-color;
            overflow-x: hidden;
            display: flex;
            flex-basis: 500px;
            max-width: 500px;
            .form-container {
                min-width: 100%;
                max-width: 100%;
                min-height: 60%;
                max-height: 60%;
            }
        }
    }
}

@mixin form-template {
    box-sizing: border-box;
    padding: $p2; //intentionally use p2
    display: flex;
    min-width: 100%;
    max-width: 100%;
    left: 0px;
    flex-direction: column;
    align-items: center;
    position: relative;
    .title {
        @include h2;
        color: $secondary-color-3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $m3;
    }
    .input-container {
        color: $on-main-color;
        display: flex;
        flex-direction: column;
        margin-bottom: $m3;
        width: 100%;
        label {
            @include h3;
            color: $secondary-color-3;
            margin-bottom: $m6;
            margin-top: $m6;
        }
        input {
            @include h4;
            border: 2px solid $border-color;
            border-radius: $input-border-radius;
            padding: $p6;
            outline: none;
        }
    }
    .error-text-hidden {
        display: none;
    }
    .error-text-shown {
        @include body-1;
        color: $error-text-color;
        margin-bottom: $m3;
    }
    .link-container {
        margin-bottom: $m3;
        .link {
            @include body-1;
            text-decoration: none;
            color: $link-color;
            background-color: transparent;
            border: 0px transparent;
            outline: none;
            cursor: pointer;
            &:hover {
                color: $hover-link-color;
            }
        }
    }
    .login-button {
        @include h3;
        @include primary-button;
        width: 80%;
    }
}