@import '../style.scss';

.main-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    .friend-bar-container {
        width: 350px;
        height: 100%;
    }
    .main-pane {
        flex-grow: 1;
    }
}