@import '../style.scss';

.main-page {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    .friend-bar-container {
        min-width: 350px;
        max-width: 350px;
        height: 100%;
    }
    .main-pane {
        flex-grow: 1;
    }
}