@import '../style.scss';

.side-bar {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-right: 1px $border-color solid;
    box-sizing: border-box;
    .profile-bar-container {
        padding: $p6 $p5;
        background-color: $header-background-color;
    }
    .search-bar-container {
        padding: $p6 $p5;
        background-color: $header-background-color;
    }
    .bar-container {
        flex-grow: 1;
    }
}