$standard-font-family: 'Nunito', sans-serif;

$blue-1: #001745;
$blue-2: #023E8A;
$blue-3: #7adeff;

$grey-1: #aba9a9;
$grey-2: #EDEDED;
$grey-3: rgba(0, 0, 0, 0.15);
$grey-4: #E5DDD5;
$grey-5: #b5b5b5;

$primary-color: $blue-3;
$main-background-color: $blue-3;
$header-background-color: $grey-2;
$on-header-background-color: $grey-3;
$header-selected-background-color: $blue-2;
$on-main-color: white;
$border-color: $grey-3;
$secondary-color: $grey-2;
$shadow-color: $grey-5;
$link-color: $blue-2;
$hover-link-color: $blue-1;
$primary-button-color: $blue-2;
$primary-button-pressed-color: $blue-1;
$on-primary-button-color: white;
$error-text-color: red;
$progress-indicator-color: $blue-3;
$scrollbar-color: $blue-3;
$secondary-text-color: $grey-5;
$error-button-color: red;
$on-error-button-color: white;
$error-button-pressed-color: #ad0000;
$secondary-color-2: $grey-4;
$secondary-color-3: $grey-1;

$input-border-radius: 12px;
$standard-button-radius: 12px;

$p1: 92px;
$p2: 50px;
$p3: 30px;
$p4: 20px;
$p5: 15px;
$p6: 10px;

$m1: 92px;
$m2: 50px;
$m3: 30px;
$m4: 20px;
$m5: 15px;
$m6: 10px;

h1 {
    margin: 0px;
}

@mixin button-padding {
    padding: $p6 $p3;
}

@mixin h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: $standard-font-family;
}

@mixin h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: $standard-font-family;
}


@mixin h3 {
    font-size: 21px;
    font-family: $standard-font-family;
}

@mixin h4 {
    font-size: 18px;
    font-family: $standard-font-family;
}

@mixin body-1 {
    font-size: 15px;
    font-family: $standard-font-family;
}

@mixin body-2 {
    font-size: 10px;
    font-family: $standard-font-family;
}

@mixin button {
    @include button-padding;
    border-radius: $standard-button-radius;
    outline: none;
}

@mixin primary-button {
    @include button;
    background-color: $primary-button-color;
    color: $on-primary-button-color;
    &:active {
        background-color: $primary-button-pressed-color;
    }
}

@mixin cancel-button {
    @include button;
    background-color: $error-button-color;
    color: $on-error-button-color;
    &:active {
        background-color: $error-button-pressed-color;
    }
}

@mixin myscrollbar {
    &:hover {
        &::-webkit-scrollbar {
            width: 10px;
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 500px;
        background-color: $scrollbar-color;
        width: 5px;
    }
}

@mixin profile-letter {
    @include h3;
    border-radius: 50%;
    background-color: $secondary-color;
    margin: $m5;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}